title{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header.primeira{
    background: #046DD5;
}
h1{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
